.control-bar {
//   -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .window-buttons {
    display: flex;
    cursor: pointer;

    div {
        padding: 2px;
        height: 14px;
        width: 14px;
        text-align: center;
        border-radius: 30px;
        margin: 2px 4px 2px 4px;
        font-size: 10px;
    }

    .minimise {
        background-color: yellow;
    }

    .close {
        background-color: red;
    }
  }

  .settings-link {
    color: black;
    cursor: pointer;
    font-size: 24px;
  }
}
